# Xcode & SwiftPM Build Artifacts
.build/
.swiftpm/
DerivedData/
*.xcodeproj/
*.xcworkspace/
xcuserdata/

# OS / IDE
.DS_Store
.vscode/

# Secrets / Local Config
*.env
*.env.local
Secrets.plist
build/
.simulator_id


